.flower-super-top{ display: flex;

justify-content: space-around;


align-items: center;

background: rgba(229, 84,115,0.10 );


}

.flower-section{  
  

  color: #272727;
  
  font-size: 50px;

  font-weight: 700;

  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;

  flex-direction: column;

  flex-shrink: 0;

}

.flower-top{    
  margin-top: 140px;

margin-left: 200px;

}

.flower{ 

margin-top: 50px;
  width: 635px;
  height: 800px;
  flex-shrink: 0;

}
.flower-but{   

margin-bottom: 120px;

}



.flower-room ,.feature1 {

color: rgba(39, 39, 39, 0.6)}


.flower-but{  

padding:  20px 43px 20px 43px;

border-radius: 8px;
 
background: #E55473;

color: aliceblue;
border: none;


}


.feature{ 

  color: #272727;
  
  font-family:'lato' ;
  font-size: 40px;
  
  font-weight: 800;
  


}

.feature-top{ 

text-align: center;

}

.p,.h3{     gap: 24px;}






.flower-mela{ 

display: flex; margin-left: 400px; margin-top: 50px;

}

.section-link3{




text-align: center;


width: 300px;
height:400px ;

border-top-left-radius:150px ;

border-top-right-radius: 150px;


background-color:rgba(71, 125, 17, 0.15) ;

margin: 10px;


}

.section-link1{




text-align: center;


width: 300px;
height:400px ;

border-top-left-radius:150px ;

border-top-right-radius: 150px;


background-color:rgba(167, 33, 98, 0.15);

margin: 10px;


}

.section-link2{




text-align: center;


width: 300px;
height:400px ;

border-top-left-radius:150px ;

border-top-right-radius: 150px;


background-color:rgba(5, 151, 160, 0.15);



margin: 10px;


}





















.collection{

 display: flex;


margin-top: 150px;
margin-left: 100px;
margin-right: 100px;
background-color: rgba(39, 39, 39, 0.05);











}

.collection1{ 

margin: 100px;

text-align: center;


}

.box{ 


display: flex;


justify-content: space-around;

align-items: center;


width: 1922px;
height: 620px;


background-color:rgba(229, 84, 115, 0.05);
 }


.sub-box{ text-align: center;


}



.image1{   width: 200.px;}


.instagram{  
text-align: center;

margin-top: 130px; 
 }


.image6{    
display: flex;

}

.image4{  width: 200px;


}



.image2{ 

padding: 5px;

}


.image6{

margin-left: 500px;



}



















.end-top{    
text-align: center;

 background-image:url(../image/Rectangle\ 9.png) ;

 }


::placeholder{font-family: 'lato'; }








.end-all{ 

text-align: center;



}


.manik{font-family:'lato'




}





.jace{color:#E55473; }



.jace1{  color: white;  }


.end-all{ background: #111010;



  }


.vumi{ 
color: rgba(255, 255, 255, 0.90); 



}


.mui{   


}






